<div class="podcastDetailWrapper">
   <div class="row">
      <div class="col-sm-3">
         <div class="widget">
            <div class="podcastImage">
               <% if (episodeId) { %>
               <a class="podcastLink" href="podcast/<%= podcast.attributes.id %>">
               <% } %>
                  <img src="<%= podcast.attributes.image %>" />
               <% if (episodeId) { %>
               </a>
               <% } %>
            </div>
            <div class="podcastInfo">
               <% if (episodeId) { %>
               <a class="podcastLink" href="podcast/<%= podcast.attributes.id %>">
               <% } %>
                  <div class="name">
                     <%= podcast.attributes.name %>
                  </div>
                  <div class="artist">
                     by <%= podcast.attributes.artist %>
                  </div>
               <% if (episodeId) { %>
               </a>
               <% } %>
            </div>
            <div class="podcastDescription">
               <div class="title">Description:</div>
               <div class="description">
                  <%= podcast.attributes.summary %>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-8 col-sm-offset-1">
         <div id="detailContent">
      </div>
   </div>
</div>
